/* CSS declarations go here */

html {
  height: 110%;
  background: linear-gradient(#0aa2e3, #77cde6);;
}

body {
/*  background: linear-gradient(#0aa2e3, #77cde6);
  background-image: url("/img/board.png");
*/
}



.navbar-default {
    background: none !important;
    background-image: none;
    height: 20px  !important;
    border: 0 !important;
}

.board {
  height: 100%;
  width: auto;
  margin: 0 auto;
  position: absolute;
  top: 0; left:0; bottom: 0; right: 0;
}
